@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #03e9f4;
    --color2: #03f453;
    --color3: #f44f03;
    --color4: #000000;
}

body
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: var(--color4);
}

/****************************************  loader1 ****************************************/

.loader1 {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}

.loader1:hover {
    background: var(--color1);
    box-shadow: 0 0 5px var(--color1),
    0 0 25px var(--color1),
    0 0 50px var(--color1),
    0 0 200px var(--color1);
}

.loader1 span {
    position: absolute;
    display: block;
}

.loader1 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, transparent, var(--color1));
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
    z-index: 2;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.loader1 span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, transparent, var(--color1));
    animation: animate3 1s linear infinite;
    animation-delay: 1s;
    z-index: 2;
}

@keyframes animate3 {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.loader1 span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color1));
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
    z-index: 2;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.loader1 span:nth-child(4) {
    left: 0;
    top: 100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(0deg, transparent,var(--color1));
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
    z-index: 2;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
/****************************************  loader2 ****************************************/

.loader2 {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}

.loader2:hover {
    background: var(--color2);
    box-shadow: 0 0 5px var(--color2),
                0 0 25px var(--color2),
                0 0 50px var(--color2),
                0 0 200px var(--color2);
}

.loader2 span {
    position: absolute;
    display: block;
}

.loader2 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, transparent, var(--color2));
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.loader2 span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, transparent, var(--color2));
    animation: animate3 1s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.loader2 span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color2));
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.loader2 span:nth-child(4) {
    left: 0;
    top: 100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(0deg, transparent,var(--color2));
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
/****************************************  loader3 ****************************************/

.loader3 {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}

.loader3:hover {
    background: var(--color3);
    box-shadow: 0 0 5px var(--color3),
                0 0 25px var(--color3),
                0 0 50px var(--color3),
                0 0 200px var(--color3);
}

.loader3 span {
    position: absolute;
    display: block;
}

.loader3 span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(90deg, transparent, var(--color3));
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.loader3 span:nth-child(3) {
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 40px;
    background: linear-gradient(270deg, transparent, var(--color3));
    animation: animate3 1s linear infinite;
    animation-delay: 1s;
}

@keyframes animate3 {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}

.loader3 span:nth-child(2) {
    right: 0;
    top: -100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--color3));
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    100% {
        top: 100%;
    }
}

.loader3 span:nth-child(4) {
    left: 0;
    top: 100%;
    width: 40px;
    height: 100%;
    background: linear-gradient(0deg, transparent,var(--color3));
    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
